name: Deploy to Kubernetes

on:
  workflow_call:
    inputs:
      namespace_k8s:
        description: deploy environment tag, example. mechain-dev/mechain-test
        required: true
        type: string
      release_name:
        description: Deployment name in kubernetes.
        required: true
        type: string
      publish_tag:
        description: The tag of the image, example. develop,test,None.
        required: false
        type: string

jobs:
  deploy_to_k8s:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Get Github version info
        id: meta
        run: |
          if [ -n ${{ inputs.publish_tag }} ]; then
            echo "version=${{ inputs.publish_tag }} (commit=`echo ${GITHUB_SHA} | cut -c1-8`)" >> "$GITHUB_OUTPUT"
          else
            echo "version=$(git describe --always --tags --match='v*') (commit=`echo ${GITHUB_SHA} | cut -c1-8`)" >> "$GITHUB_OUTPUT"
          fi

      - name: "Notify begin message to Lark"
        uses: actions/github-script@v7
        with:
          script: |
            const script = require('./.github/workflows/scripts/lark.cjs')
            await script({github, context, core})
        env:
          LARK_WEBHOOK: ${{ secrets.LARK_WEBHOOK }}
          # Build Lark Card on https://open.feishu.cn/tool/cardbuilder
          CARD_BODY: |-
            {
              "header": {
                "template": "green",
                "title": {
                  "content": "【CICD】${{ github.repository }} 部署通知",
                  "tag": "plain_text"
                }
              },
              "elements": [
                {
                  "tag": "div",
                  "text": {
                    "content": "**代码库** ${{ github.repository }}",
                    "tag": "lark_md"
                  }
                },
                {
                  "tag": "div",
                  "text": {
                    "content": "**环境** devint",
                    "tag": "lark_md"
                  }
                },
                {
                  "tag": "div",
                  "text": {
                    "content": "**版本** ${{ steps.meta.outputs.version }}",
                    "tag": "lark_md"
                  }
                },
                {
                  "tag": "div",
                  "text": {
                    "content": "**操作人** ${{ github.actor }}",
                    "tag": "lark_md"
                  }
                },
                {
                  "tag": "div",
                  "text": {
                    "content": "**Action URL** https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}",
                    "tag": "lark_md"
                  }
                }
              ]
            }
