name: Deploy to Kubernetes

on:
  workflow_call:
    inputs:
      namespace_k8s:
        description: deploy environment tag, example. mechain-dev/mechain-test
        required: true
        type: string
      release_name:
        description: Deployment name in kubernetes.
        required: true
        type: string
      publish_tag:
        description: The tag of the image, example. develop,test,None.
        required: false
        type: string

jobs:
  deploy_to_k8s:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Get Github version info
        id: meta
        run: |
          if [ -n ${{ inputs.publish_tag }} ]; then
            echo "version=${{ inputs.publish_tag }} (commit=`echo ${GITHUB_SHA} | cut -c1-8`)" >> "$GITHUB_OUTPUT"
          else
            echo "version=$(git describe --always --tags --match='v*') (commit=`echo ${GITHUB_SHA} | cut -c1-8`)" >> "$GITHUB_OUTPUT"
          fi

      - name: "Deploy new StatefulSet"
        uses: actions-hub/kubectl@master
        env:
          KUBE_CONFIG: ${{ secrets.KUBECONFIG_DEV }}
        with:
          args: -n ${{ inputs.namespace_k8s }} rollout restart statefulset ${{ inputs.release_name }}

      - name: "Notify begin message to Lark"
        uses: kevin-rd/lark-notify@v1.5
        env:
          LARK_WEBHOOK: ${{ secrets.LARK_WEBHOOK }}
        with:
         header_template: "blue"
         header_content: "${{ github.repository }} 部署通知"
         message_env_tag: "devint"
         message_version: "${{ steps.meta.outputs.version }}"


      - name: "Check StatefulSet"
        uses: actions-hub/kubectl@master
        env:
          KUBE_CONFIG: ${{ secrets.KUBECONFIG_DEV }}
        with:
          args: -n ${{ inputs.namespace_k8s }} rollout status statefulset ${{ inputs.release_name }} --timeout=600s

      - name: "Notify message to Lark(Success)"
        uses: kevin-rd/lark-notify@v1.5
        if: success()
        env:
          LARK_WEBHOOK: ${{ secrets.LARK_WEBHOOK }}
        with:
          header_template: "green"
          header_content: "${{ github.repository }} 部署完成"
          message_env_tag: "devint"
          message_version: "${{ steps.meta.outputs.version }}"

      - name: "Notify message to Lark(Failure)"
        uses: kevin-rd/lark-notify@v1.5
        if: failure()
        env:
          LARK_WEBHOOK: ${{ secrets.LARK_WEBHOOK }}
        with:
          header_template: "red"
          header_content: "${{ github.repository }} 部署失败"
          message_env_tag: "devint"
          message_version: "${{ steps.meta.outputs.version }}"